.dark {
  background-color: var(--darkprimary);
}

.light {
  background-color: var(--lightprimary);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  padding: 0 8vw 0 8vw;
}

.heroIntro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.heroIntro > h1 {
  font-size: max(7vw, 48pt);
}
.heroIntro > h2 {
  font-size: max(4vw, 28pt);
}

.typewriter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: max(2.5vw, 24pt);
  margin-top: 20px;
}

/* Phones, Tablet and Smaller Desktop */
@media (max-width: 980px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .heroImg {
    width: 100%;
  }

  .typewriter {
    margin-top: 10px;
  }
}
