.dark {
  background-color: var(--darkprimary);
}

.light {
  background-color: var(--lightprimary);
}

[data-theme="dark"] .highlight-text {
  color: var(--darkcolor);
}

[data-theme="light"] .highlight-text {
  color: var(--lightcolor);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;
  transition: 200ms linear;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  flex-grow: 1;
  padding: 0 6vw 0 6vw;
  overflow: hidden;
  z-index: 10;
}

[data-theme="dark"] .section {
  background-image: url("/assets/noisy.png");
}

[data-theme="light"] .section {
  background-image: url("/assets/noisylight.png");
}

.section > h1 {
  margin: 100px 0 0 20px;
  font-size: max(3vw, 32pt);
}

.blob {
  width: 300px;
  height: 300px;
  position: fixed;
  cursor: pointer;
  pointer-events: none;
  border-radius: 50%;
  background: linear-gradient(45deg,	#FF69B4, #c02425 50%, #f0cb35);
  animation: animblob 12s infinite linear forwards;
  transition: 100ms linear;
  z-index: 1;
}

@keyframes animblob {
  0% {
    transform: rotate(0deg) scaley(100%);
  }
  50% {
    transform: rotate(180deg) scaley(70%);
  }
  100% {
    transform: rotate(360deg) scaley(100%);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(65px);
}

.hero-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
  font-weight: 500;
  width: 100%;
  height: 100%;
  font-size: max(8vw, 5rem);
  row-gap: 20px;
  pointer-events: none;
  padding: 0 20px 0 20px;
  flex-grow: 1;
}

.hero-disclaimer {
  position: absolute;
  font-size: max(0.5vw, 1rem);
  bottom: 30px;
}

.hero-last {
  text-align: right;
  align-self: flex-end;
}

.typewriter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  font-size: max(7vw, 3rem);
}

.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.about-img {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img > img {
  width: 80%;
}

.about-info-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.about-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-size: max(1.6vw, 1rem);
}

.about-stack-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
}

.about-stack-container > * {
  width: 100%;
  height: 80%;
  padding: 10px;
}

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.spotlight-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 20px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1300px) {
  .about-stack-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Phones, Tablet and Smaller Desktop */
@media (max-width: 980px) {
  .section, .about-container {
    flex-direction: column;
    align-items: center;
    padding: 0 40px 0 40px
  }

  .about-img {
    margin-bottom: 30px;
  }

  .about-info-container {
    width: 100%;
  }

  .about-stack-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .section > h1 {
    margin: 0;
  }

  .hero-intro {
    padding: 20px;
    row-gap: 30px;
    margin-top: 80px;
  }

  .hero-first {
    font-size: 48pt;
  }

  .typewriter {
    margin-top: 10px;
    height: 300px;
  }
  
  .hero-disclaimer {
    position: relative;
    text-align: center;
  }

  .spotlight-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
