.dark {
  background-color: var(--darkprimary);
}

.light {
  background-color: var(--lightprimary);
}

.lightlogo {
  filter: invert();
}

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
  color: white;
  position: fixed;
  z-index: 100;
  background-color: transparent;
  width: 100%;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.btnContainer > * {
  margin: 0 15px 0 15px;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.logo {
  width: 50px;
}

.navBtn {
  min-width: 100%;
  text-decoration: none;
  font-size: 1.5rem;
}

/* For mobile phones: */
@media only screen and (max-width: 980px) {
  .mainContainer {
    position: relative;
  }

  .btnContainer {
    display: none;
  }
}
